.img-container {
    display: grid;
    grid-template-columns: 3fr;
    /* grid-auto-rows: minmax(min-content, max-content); */
    width: 100%;
    height: min-content;
}

.image-self {
    width: 100%;
    height: 250px;
    object-fit: cover;
}